*{
    box-sizing: border-box;
    background-color: rgb(165, 71, 71) ;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify; 
    color: white;
}

#header_home{
    width: 100%;
    background-image: url("./coucher de soleil.jpeg");
    margin : auto;
    height: 324px;
    position: relative;
}

.title{
    background-color: rgb(129, 159, 231);
    width: 50%;
    height: 150px;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-style: italic;
    font-size: xx-large;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    text-align: center;
    padding: 60px 0;
    position: absolute;
    right: 25%;
    top: 87px;
    display: flex;
}

.presentation{
    width: 100%;
}

.presentation h2{
    font-weight: 700;
    margin: auto;
    width : 50%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.presentation p{
    margin: auto;
    width: 50%;
    display: flex; 
    justify-content: center;
    text-align: center;
}

.presentation li{
    margin: auto;
    width: 50%;
    display: flex; 
    justify-content: center;
}

#dropdown_menu:hover #dropdown_content{
    display : block;
}

#dropdown_content {
    display: none;
    z-index: 1000;
}

#dropdown_menu{
    position: fixed; /* Rend la position fixe */
    top: 0; /* Place le menu en haut de l'écran */
    left: 0;
    display: inline-block;
    z-index: 1000;
}

#header_story{
    background-image: url("./IMG_3519.JPG");
    width: 100%;
    height: 324px;
}

.img_right{
    height: 200px;
    width: auto;
    float: right;
    margin : 20px;
    justify-content: center;
    align-content: center;
}

.img_left{
    height: 200px;
    width: auto;
    float: left;
    margin: 20px;
    justify-content: center;
    align-content: center;
}

#story p{
    margin: 10px;
}

#header_TODOList{
    background-image: url('./IMG_0316.HEIC');
    width: 100%;
    height: 324px; 
}

#explication_TODOList{
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
}

#header_playlist {
    background-image: url('./photo_titre_playlist.jpg');
    width: 100%;
    height: 324px;
}

#playlist_section li{
    display: flex;
    justify-content: center;
    margin: 10px
}

#header_recap_voyage{
    background-image: url('./photo_titre_voyage.jpg');
    width: 100%;
    height: 324px;
}

#recap_voyage_section{
    display: flex;
    justify-content: center;
}

#audio_player_voyage{
    display : flex;
    justify-content: center;
    margin : 20px;
}